PORT=8000

JWT_ACCESS_SECRET=
CLIENT_ORIGIN=http://localhost:5173
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# must be registered in Google Cloud Console
GOOGLE_REDIRECT_URI=http://localhost:8000/api/auth/google/callback
